button {
    background: red;
    color: white;
    padding: 20px 32px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

input {
    padding: 12px;
    border-radius: 8px;
}

td {
    width: 30%;
}